:root{
    --main-color-text: #2C2D35;
    --main-color-span: #598D66;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: var(--main-color-text);

}
a{
    text-decoration: none;
    color: var(--main-color-text);
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.template-grid{
    max-width: 1440px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content;
    padding: 0 20px;
}
header{
    display: flex;
    grid-column: 1 / -1;
    justify-content: space-between;
    align-items: center;

}

.logo{
    display: flex;
    align-items: center;
}
.logo a{
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--main-color-span);
}
nav{
    display: flex;
    align-items: center;
}
nav *{
    margin: 10px;
}
.horizantal-menu{
    display: flex;
    list-style: none;
}
.burgher-menu{
    margin: 0 10px;
    background-color: var(--main-color-span);
    border: none;
    width: 20px;
    height: 3px;
    position: relative;
    display: none;
}
.burgher-menu::before, .burgher-menu::after{
    content: ' ';
    position: absolute;
    border: none;
    width: 20px;
    height: 3px;
    left: 0;
    background-color: var(--main-color-span);
}
.burgher-menu::before{
    top: -5px;
}
.burgher-menu::after{
    top: 5px;
}
.brg-active{
    background-color: #fff0;
    transform: rotate(-180deg);
    transition: all .5s;

}
.brg-active::before{
    top: 0;
    background-color: #598D66;
    transform: rotate(45deg);
}
.brg-active::after{
    top: 0;
    background-color: #598D66;
    transform: rotate(-45deg);

}


@media (max-width: 700px) {
    .horizantal-menu{
        position: fixed;
        visibility: hidden;
        opacity: 0;
        transition: all .4s;
    }
    .hrz-active{
        visibility: visible;
        left: -10px;
        top: 50px;
        display: block;
        color: red;
        opacity: 1;
        transition: all .4s;
        width: 100vw;
        height: 100vh;
        background-color: white;
    }
    
    .burgher-menu{
        display: block;
    }
    
    
  }

